<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue-百度搜索框</title>
    <style>
        #box {
            width: 720px;
            height: 640px;
            margin: 100px auto;
        }
    </style>
</head>
<body>
<div id="box">
    <input type="text" placeholder="请输入搜索内容" @keyup="search()" v-model="key">
    <ul>
        <li v-for="val in myData">{{val}}</li>
    </ul>
    <p v-show="myData.length==0">暂无数据...</p>
</div>

<script src="vue.js"></script>
<!--<script src="vue-resource.js"></script>-->
<script src="//cdn.bootcss.com/vue-resource/0.7.4/vue-resource.common.js"></script>
<script>
    window.onload = function () {
        var vm = new Vue({
            el: '#box',
            data: {
                myData: [],
                key: ''
            },
            methods: {
                search: function () {
//                    this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su', {
//                        wd: this.key
//                    }, {
//                        jsonp: 'cb'
//                    }).then(function () {
//                        alert('1');
//                    },function () {
//                        alert('搜索失败！')
//                    });
                    this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{
                        wd:this.key
                    },{
                        jsonp:'cb'
                    }).then(function(res){
                        this.myData=res.data.s;
                    },function(){
                        alert('err');
                    });
                }
            }
        });
    };
</script>
</body>
</html>